<div class="form-group">
    <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="<%= name %>" required="true" />
</div>
<div class="form-group">
    <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="<%= email %>" required="true" />
</div>
<div class="form-group">
    <input type="number" class="form-control" id="age" name="age" placeholder="Age" value="<%= age %>" min="1" max="99" required="true"/>
</div>
<div class="form-group">
    <label for="country">Country</label>
    <select class="country-selector form-control" name="country">
        <option>Singapore</option>
        <option>Thailand</option>
        <option>Malaysia</option>
    </select>
</div>
<div class="form-group">
    <label for="city">City</label>
    <select class="city-selector form-control" name="city">
    </select>
</div>
<button class="btn btn-default" id="save">Save</button>
<button class="btn" id="clear">Clear</button>
