// Change Bootstrap path to the fonts
$icon-font-path: "fonts";
@import "bootstrap-sass/vendor/assets/stylesheets/bootstrap";

// Change Font-Awesome path to the fonts
$fa-font-path: "fonts";
@import "../bower_components/font-awesome/scss/font-awesome";
@import "jquery.notifyBar";

body {
  background: #eaeaea url('../images/bg.png');
}

#contacts-tableview {
  background-color: #eeeeee;
}

#contact-saved-dialog {
  display: none;
}

.container {
  margin-top: 24px;
}

#contact-form, #contacts-tableview {
  display: none;
}

.source-link {
  float: right;
  margin-top: -28px;
}

.source-link span {
  font-style: italic;
  font-size: 80%;
}

#ember-logo {
  background-image: url('../images/emberjs-logo.png');
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  float: left;
  display: block;
  position: relative;
  left: -35px;
  transition: left 1.0s;
}

#ember-logo:hover {
  transition: left 0.5s;
  left: -70px;
}

.jumbotron {
  padding-top: 8px;
  padding-bottom: 28px;
  z-index: 10;
  position: relative;
}

.form-field {
    margin-top: 8px;
}

.form-field .alert-warning {
  font-size: $font-size-base;
  padding: 4px
}

.form-field .alert-warning span {
  margin-left: 4px;
}

.form-field p {
    margin-bottom: 4px;
}

.form-field input {
  width: 100%;
  border: none;
  height: 36px;
  padding : 0 10px;
  box-sizing: border-box;
  -webkit-appearance: none;

          transition: height 0.3s ease-in;
  -webkit-transition: height 0.3s ease-in;
     -moz-transition: height 0.3s ease-in;
}

.form-field input:focus {
  background : white;
  border-radius : 0px;
  box-shadow : none;
  height: 26px;
  line-height: 1;
}

.form-field .floating-label {
  border: solid #aaa;
  border-width: 2px 2px 0 2px;
  padding: 0;
  font-size: 11px;
  background: #ffffff;
  position: relative;
  height : 40px;
  margin-bottom: 4px;
}

.form-field .floating-label label {
  height : 2px;
  background: #AAAAAA;
  color : white;
  padding: 0 10px;
  overflow: hidden;
  bottom: 0;
  position: absolute;
  margin: 0;
  width: 100%;

          transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;

          transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
     -moz-transition-timing-function: ease-in;

}

.form-field input:focus[placeholder]::-webkit-input-placeholder {
  opacity: 0;
}

.form-field input[placeholder]::-webkit-input-placeholder {
          transition: opacity 0.3s ease-in;
  -webkit-transition: opacity 0.3s ease-in;
     -moz-transition: opacity 0.3s ease-in;
}

.form-field input:focus ~ label {
  color: white;
  height: 16px;
  line-height: 1.4;
}
