<div class="col-md-5">
    <div id="contact-form">
        <a id="ember-logo" target="_blank" href="http://emberjs.com"></a>
        <div class="jumbotron">
            <h2>New Contact</h2>
            <form>
                <div class="form-field">
                    {{#if nameFailed}}
                        <p class="alert-warning font-size-small"><i class="fa fa-exclamation-circle"></i><span>{{nameFailed}}</span></p>
                    {{/if}}
                    <div class="floating-label">
                        {{input class="form-control" id="name" name="name" placeholder="Name" value=name required="true" }}
                        <label for="name">Name</label>
                    </div>
                </div>
                <div class="form-field">
                    {{#if emailFailed}}
                        <p class="alert-warning"><i class="fa fa-exclamation-circle"></i><span>{{emailFailed}}</span></p>
                    {{/if}}
                    <div class="floating-label">
                        {{input class="form-control" id="email" name="email" placeholder="Email" value=email required="true" }}
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="form-field">
                    {{#if ageFailed}}
                        <p class="alert-warning"><i class="fa fa-exclamation-circle"></i><span>{{ageFailed}}</span></p>
                    {{/if}}
                    <div class="floating-label">
                        {{input class="form-control" id="age" name="age" placeholder="Age" value=age min="1" max="99" required="true" }}
                        <label for="age">Age</label>
                    </div>
                </div>
                <div class="form-field">
                    <label for="country">Country</label>
                    {{view Ember.Select class="country-selector form-control"
                    content=countries
                    value=country}}
                </div>
                <div class="form-field">
                    <label for="city">City</label>
                    {{view Ember.Select class="city-selector form-control"
                    content=cities
                    value=city}}
                </div>
                <button class="btn btn-default" id="save" {{action "save" }}>Save</button>
                <button class="btn" id="clear" {{action "clear" }}>Clear</button>
            </form>
        </div>
        <a href="https://bitbucket.org/sshark/javascript-mvc-hack/src" target="_blank" class="source-link"><span>...more</span></a>
    </div>
</div>
<div class="col-md-7">
    <div id="contacts-tableview">
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Country</th>
                <th>City</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
            {{#each contact in contactsController.sortedContent}}
                <tr>
                    <td>{{contact.id}}</td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.email}}</td>
                    <td>{{contact.age}}</td>
                    <td>{{contact.country}}</td>
                    <td>{{contact.city}}</td>
                    <td>{{contact.elaspedTime}}</td>
                    <td>{{view Contacts.ContactsActionsView}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>

