<div class="btn-group">
    <button type="button" class="btn btn-default btn-xs edit" {{action edit contact}}><i class="fa fa-pencil"></i></button>
    <button type="button" class="btn btn-danger btn-xs delete" {{action remove contact}}><i class="fa fa-trash-o"></i></button>
</div>
